<form action="/wands" method="post">
    <input type="text" name="wood" placeholder="wood">
    <input type="text" name="length" placeholder="length">
    <input type="text" name="core" placeholder="core">

    <input type="submit" value="Create new Wand">

</form>

<a href="/wands">Go back</a>